<link href="/stylesheets/style.css" rel="stylesheet" type="text/css">

<div class="limiter">
  <div class="container-login100">
    <div class="wrap-login100">
      <div class="login100-form-title" style="background-image: url(/images/bg-01.jpg);">
        <span class="login100-form-title-1">Sign In</span>
      </div>
      <!--<div class="ms-Grid-col ms-u-mdPush1 ms-u-md9 ms-u-lgPush1 ms-u-lg6">-->
        <form action="executeLogin" method="get">
          <div class="login100-form">
            <button (click)="onLogin()" class="login-buttons-field-3aOIaJwgmwr login-buttons-darkblue-5ThfvPIHmwr login-buttons-padding-left-m-5TjVd20lmwr _utils-reset-6hRTqZW0mwr" data-test-class="button">
              <div class="button-wrapper-2LO3md1nmwr utils-vertically-center-7aIV3ALomwr button-align-left-2g7NBAdemwr">
                <svg role="presentation" aria-hidden="true" class="icon-small-5Pu5KNJjmwr icon-icon-3WRRs0Iwmwr icon-small-compact-1gQrCmQWmwr" width="20" height="20" viewBox="0 0 20 20">
                  <g fill="none" fill-rule="evenodd">
                    <path fill="#F15022" d="M0 0h9v9H0z" style="fill: rgb(241, 80, 34);"></path>
                    <path fill="#7FBA00" d="M10 0h9v9h-9z" style="fill: rgb(127, 186, 0);"></path>
                    <path fill="#00A4EF" d="M0 10h9v9H0z" style="fill: rgb(0, 164, 239);"></path>
                    <path fill="#FFB900" d="M10 10h9v9h-9z" style="fill: rgb(255, 185, 0);"></path>
                  </g>
                </svg>
                <span class="button-content-WRXlxRuSmwr">Continue with&nbsp;<span class="utils-inline-text-m-3xM3Fxwvmwr utils-inline-text-3mR8CEzJmwr utils-paragraph-m-7LsMfddpmwr utils-primary-text-invert-1diVpqZomwr utils-bold-74rbA585mwr">Microsoft</span></span>
              </div>
            </button>
          </div>
        </form>
      </div>
    </div>
  </div>
